<h1>Editing Session</h1>

<%= render 'text', text: @session.text, scrollToBottom: true, enableCopy: false %>

<%= render 'form', session: @session %>

<%= link_to 'Show', @session %> |
<%= link_to 'Back', sessions_path %>
