<% @session ? @session : @session = Session.new %>

<div class="edit-page page">
  <div class="header">
    <h3 class="title">Write</h3>
    <div class="header-actions">
      <%= link_to 'Show', @session, class: 'header-action' %>
      <%= link_to 'Back', sessions_path, class: 'header-action', data: { 'turbolinks-action': 'restore' } %>
    </div>
  </div>
  <div class="container">

    <%= render partial: 'compose', locals: {session: @session} %>

  </div>
</div>