<div class="edit-page">
  <div class="header">
    <h3 class="title">Editing Session</h3>
    <div class="header-actions">
      <%= link_to 'Show', @session, class: 'header-action' %>
      <%= link_to 'Back', sessions_path, class: 'header-action' %>
    </div>
  </div>
  <div class="container">

    <div class="text-container">
      <%= render 'text', text: @session.text, scrollToBottom: true, enableCopy: false %>
    </div>

    <div class="compose-container">
      <%= render 'form', session: @session %>
    </div>

  </div>
</div>