<div class="edit-page">
  <div class="header">
    <h3 class="title">Editing Session</h3>
    <div class="header-actions">
      <%= link_to 'Show', @session, class: 'header-action' %>
      <%= link_to 'Back', sessions_path, class: 'header-action' %>
    </div>
  </div>
  <div class="container">

    <%= render partial: 'compose', locals: {session: @session} %>

  </div>
</div>