<div class="index-page page">
  <div class="container columns">
    <div>
      <%= image_tag('LogoDark.png', size: '150', class: 'logo dark') %>
      <%= image_tag('LogoLight.png', size: '150', class: 'logo light') %>
      <small class="by-text">by Curiosity & Conflict</small>
    </div>
    <div>
      <%= link_to 'New Session', new_session_path, class: 'new-session-link' %>
      <%= link_to 'View Archive', archive_sessions_path, class: 'session-archive-link' %>
    </div>
  </div>
</div>