<div class="index-page page">
  <p id="notice"><%= notice %></p>

  <div class="container columns">
    <div>
      <%= image_tag('logo.png', size: '150') %>
      <div>by Curiosity & Conflict</div>
    </div>
    <div>
      <%= link_to 'New Session', new_session_path, class: 'new-session-link' %>
    </div>
  </div>
</div>