<div class="show-page page">
  <div class="header">
    <h3 class="title">Viewing Session</h3>
    <div class="header-actions">
      <%= link_to 'Edit', edit_session_path(@session), class: 'header-action' %>
      <%= link_to 'Back', sessions_path, class: 'header-action' %>
    </div>
  </div>
  <div class="container">
    <%= render 'text', text: @session.text %>

    <p>
      <strong>Word count:</strong>
      <%= @session.word_count %>
    </p>
  </div>

</div>
