<% content_for :header do %>
  <h3 class="title"><%= @story.title %> Outline</h3>
  <div class="header-actions">
    <%= link_to 'Back', story_path(@story), class: 'header-action', data: { 'turbo-action': 'restore' } %>
  </div>
<% end %>