<% @stories.each do |story| %>
  <div class="story">
    <h3><%= story.title %></h3>
    <a href="<%= story_path(story) %>">
      View Story
    </a>
    <a href="<%= new_story_writing_session_path(story) %>">New Session</a>
  </div>
<% end %>
