<% content_for :header do %>
  <h3 class="title">Stories</h3>
  <div class="header-actions">
    <%= link_to 'Back', root_path, class: 'header-action', data: {'turbo-action': 'restore'} %>
  </div>
<% end %>

<dl class="stories-grid">
  <% @stories.each do |story| %>
    <a class="story button-link" href="<%= story_path(story) %>">
      <%= story.title %>
    </a>
  <% end %>
  <a class="story button-link" href="<%= new_story_path %>">
    Add a New Story
  </a>
</dl>
