<% content_for :header do %>
  <h3 class="title">Stories</h3>
  <div class="header-actions">
    <%= link_to 'Home', root_path, class: 'header-action', data: {'turbo-action': 'restore'} %>
  </div>
<% end %>
<turbo-frame id="new_story_form">
  <a class="story button-link" href="<%= new_story_path %>">
    Add a New Story
  </a>
</turbo-frame>
<dl class="stories-grid">
  <%= render "stories" %>
</dl>
