<ol data-controller="outline-items"
    data-url="<%= story_outline_outline_item_path(story, ":id") %>">
  <% story.outline_items.each do |item| %>
    <li data-id="<% item.id %>">
      <%= render partial: 'outline_items/outline_item', locals: {story: story, item: item}%>
      <i class="fas fa-arrows-alt handle"></i>
    </li>
  <% end %>
</ol>
