@font-face {
    font-family: 'Roboto';
    src: url(/fonts/RobotoThin.ttf) format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'Roboto';
    src: url(/fonts/RobotoThinItalic.ttf) format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url(/fonts/RobotoLight.ttf) format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: url(/fonts/RobotoLightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url(/fonts/RobotoRegular.ttf) format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url(/fonts/RobotoMedium.ttf) format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto';
    src: url(/fonts/RobotoMediumItalic.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url(/fonts/RobotoBold.ttf) format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto';
    src: url(/fonts/RobotoBoldItalic.ttf) format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url(/fonts/RobotoBlack.ttf) format('truetype');
    font-weight: 900;
}
@font-face {
    font-family: 'Roboto';
    src: url(/fonts/RobotoBlackItalic.ttf) format('truetype');
    font-weight: 900;
    font-style: italic;
}