// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "./variables";
@import "./mixins";

.index-page {
  @include container-columns;
  @include logo-darkmode;

  .stories-list {
    display: flex;
    flex-direction: column;

    .story {
      margin-bottom: 16px;
      padding: 10px;
      transition: all 0.5rs;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .primary-link,
  .secondary-link {
    border: 2px solid black;
    color: black;
    font-weight: bold;

    border-radius: $border-radius;
    width: 200px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.2s;

    &:hover,
    &:active {
      text-decoration: none;

      color: black;
      background-color: lightgray;
    }
  }

  @media (prefers-color-scheme: dark) {
    .primary-link,
    .secondary-link {
      border-color: lightgray;
      color: lightgray;

      &:hover,
      &:active {
        color: white;
        background-color: #202020;
      }
    }
  }

  .secondary-link {
    height: 40px;
    margin-top: 20px;
    opacity: 0.4;
  }
}

