// Place all the styles related to the outlines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.outlines {
  .outline-items {
    max-height: 90vh;
    overflow: auto;
    max-width: 600px;
    width: 80vw;
    margin-top: 32px;

    li {
      display: flex;
      .handle {
        flex: 0;
        cursor: grab;
      }
      padding-right: 32px;
    }

    .outline-item {
      flex: 1;
      margin-bottom: 16px;
    }
  }

}

