// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "./variables.scss";
@import "./mixins.scss";

.stories-grid {
  display: flex;
  flex-direction: row;
  

  .story {
    margin-left: 10px;
    padding: 10px;
    transition: all 0.5rs;

    &:hover {
      cursor: pointer;
    }
  }
}

.container {
  // @include container;

  justify-content: flex-start;
  align-items: center;

  .sessions-table-container {
    height: 100%;
    overflow: auto;
    padding: 0;

    @include breakpoint(tablet) {
      padding: 0 2.5em;
    }

    @include breakpoint(desktop) {
      padding: 0 5em;
    }

    .sessions-table {
      overflow: auto;

      dd {
        margin-bottom: 1em;
        margin-left: 0;
        display: flex;
        border: 1px solid $border-color-light;
        border-radius: $border-radius;
        max-height: 100px;

        @media (prefers-color-scheme: dark) {
          border: 1px solid $border-color-dark;
        }

        .content {
          position: relative;
          flex: 1 1;
          overflow: hidden;

          .text-column {
            height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 1em;

            .text {
              overflow: hidden;
            }
          }

          .word-count {
            position: absolute;
            bottom: 1em;
            right: 1em;
            opacity: 0.6;
          }
        }

        .actions {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          border-left: 1px solid $border-color-dark;

          @media (prefers-color-scheme: dark) {
            border-left: 1px solid $border-color-dark;
          }

          .action-link {
            height: 30px;
            // flex: 1 1;
            padding: 0.5em 1em;
            // border: 1px solid rgba(255, 255, 255, 0.4);
            justify-content: center;
            align-items: center;
            display: flex;
            border-top: 0;
            border-bottom: 0;

            &:hover {
              background: black;
              color: white;

              @media (prefers-color-scheme: dark) {
                background: rgba(255, 255, 255, 0.4);
                // color: black;
              }
            }
          }
        }
      }
    }
  }
}