// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "./variables.scss";
@import "./mixins.scss";

.stories {
  &.index {
    .stories-grid {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 800px;

      @include breakpoint(tablet) {
        width: 80%;
      }

      .story {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        transition: all 0.5rs;

        h3 {
          margin-right: 16px;
          white-space: nowrap;
        }
        
        .story-actions {
          flex: 1 0 content;
          display: flex;
          justify-content: flex-end;

          a {
            padding: 8px 16px;
            border: none;
            margin-right: 8px;
            white-space: nowrap;
          }
        }
      }
    }
  }

  &.show {
    #writing_sessions {
      padding: 0;
      max-height: 60vh;
      display: block;
      width: 100%;
    }

    .top {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 16px;
      width: 100%;

      @include breakpoint(tablet) {
        justify-content: space-between;
        flex-direction: row;
      }

      .primary-link {
        padding: 8px 18px;
        margin-top: 32px;

        @include breakpoint(tablet) {
          margin-top: 8px;
        }
      }
    }
    .container {
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      padding: 0 16px;

      @include breakpoint(tablet) {
        padding: 0 32px;
        width: 80%;
        flex-direction: column;
      }

      @include breakpoint(desktop) {
        padding: 0 64px;
        max-width: 1200px;
      }
    }
    .story-details {
      display: block;
      width: 100%;

      > div {
        flex: 1;
        display: block;

        &:first-child {
          margin-right: 16px;
        }
      }

      @include breakpoint(tablet) {
        display: flex;
      }
    }
  }
}
