$mobile: 500px;
$tablet: 770px;

$border-radius: 5px;
$border-color-light: rgba(0, 0, 0, 0.5);
$border-color-dark: rgba(255, 255, 255, 0.5);

$darkest: black;
$dark: #101010;
$light: lightgray;
$white: white;
