<% show_one = false unless show_one.present?%>
<turbo-frame id="writing_sessions" class="sessions-table-container">
  <dl class="sessions-table">
    <% if @writing_sessions.count > 0%>
      <% if show_one %>
        <%= render partial: "writing_sessions/writing_session", object: writing_sessions.first %>
        <% if writing_sessions.count > 1 %>
          <dd class="show-all">
            <a href="<%= story_writing_sessions_path(story) %>">Show All</a>
          </dd>
        <% end %>
      <% else %>
        <%= render partial: "writing_sessions/writing_session", collection: writing_sessions %>
      <% end %>
    <% else %>
      Nothing yet. Click "New Session" to get started!
    <% end %>
  </dl>
</turbo-frame>
