<% content_for :header do %>
  <h3><%= @story.title %> - Writing Sessions</h3>
  <div class="header-actions">
    <%= link_to 'Back', @story, class: 'header-action', data: {'turbo-action': 'restore'} %>
  </div>
<% end %>

<%= render partial: 'writing_sessions', locals: { story: @story, writing_sessions: @writing_sessions } %>