<div class="show-page page">
    <div class="header">
        <h3 class="title">Viewing Session</h3>
        <div class="header-actions">
            <%= link_to 'Continue', edit_writing_session_path(@session), class: 'header-action', data: { 'turbo-action': 'replace' } %>
            <%= link_to 'Back', writing_sessions_path, class: 'header-action', data: { 'turbo-action': 'restore' } %>
        </div>
    </div>
    <div class="container">
        <%= render 'text', text: @session.text %>

        <p>
            <strong>Word count:</strong>
            <%= @session.word_count %>
        </p>
    </div>

</div>